<!-- Sidebar -->
<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="dashboard">
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="supported-invoices">
                    Invoices
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="default">
                    Default Invoice Template
                </a>
            </li>
            <!-- Add more menu items as needed -->

        </ul>
    </div>
</nav>